.nav{
    background-color: black;
    height: 60px;
  
   

}
button{
  background-color: orangered;
   
}
#logo{
    color: orangered;
    font-size: 20px;
    padding: 20px 0px 10px 0px;
}
a{
    margin-right: 200px;
    text-decoration: none;
    font-family: cursive;'
    font-weight:900;

}  
.foot{
        background-color: rgb(16, 15, 15);
    height: 60px;
    margin-bottom: 10px;
    color: orange;
    text-align: center;
}
.contain{
    
    height: 100px;
    width: 75px;
    display: inline-block;
    margin-right: 150px;
    margin-top: 10px;
    padding: 25px;
    border: solid black;
    background-color: rgba(red, green, blue, 0.5);

}
.rok{
    height: 550px;
}