* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Sections */
section {
    padding: 20px;
    margin: 15px auto;
    background: #fff;
    max-width: 900px;
    border-radius: 5px;
}

/* Headings */
h2 {
    margin-bottom: 10px;
    color: #222;
}

/* Skills */
#skills ul {
    list-style: none;
}

#skills li {
    background: #eee;
    padding: 8px;
    margin: 5px 0;
    border-radius: 3px;
}

/* Projects */
.project {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #222;
    background: #f9f9f9;
}
/*education*/
#education ul {
    list-style: none;
}

#education li {
    background: #eee;
    padding: 8px;
    margin: 5px 0;
    border-radius: 3px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: #fff;
    margin-top: 20px;
}